.navbar{
    position: sticky;
    display: grid;
    grid-template-columns: 20vw 25vw 40vw 13vw;
    background-color: #10523c;
    color: white;
}
.logo img{
    width: 170px;
    height: 50px;
}
.logo{
    text-align: center;
}
.list li{
    list-style: none;   
    margin-top: -10px;
}
.list ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.icons{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    margin-right: 15px;
}

.list li:hover, 
.icons p:hover{
    color: #b88d36;
    cursor: pointer;
}