.search{
    margin: 5px auto;
    width: 85vw;
    margin-top: 60px;
}
.search input{
    border: none;
    width: 25vw;
    padding: 10px 20px;
    font-size: 1rem;
}
.search input:focus{
    outline: none;
}
.btn{
    font-size: 1rem;
    background-color: #10523c;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 4px;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    background-color: #b88d36;
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
}
.sort-by{
    margin-top: 2px;
    background-color: white;
    padding: 2px 15px;
    font-size: 1.2rem;
}